<launch>

    <!-- <node name="motion_planner" pkg="turtlebot3_disinfection" type="motion_planner" output="screen" clear_params="true" ns="test">
    </node> -->

    <rosparam command="load" file="$(find turtlebot3_disinfection)/config/wall_follower.yaml" />

    <node name="motion_planner" pkg="turtlebot3_disinfection" type="motion_planner" output="screen"/>

    <!-- <node name="tag_scanner" pkg="turtlebot3_disinfection" type="tag_scanner" output="screen"/> -->

    <node name="map_transform" pkg="turtlebot3_disinfection" type="map_transform" output="screen"/>

    <!-- <node name="social_distance_monitor" pkg="turtlebot3_disinfection" type="social_distance_monitor" output="screen"/> -->

    <!-- <node name="disinfection_database" pkg="turtlebot3_disinfection" type="disinfection_database" output="screen"/> -->

    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"/>

    <node name="image_republisher" pkg="image_transport" type="republish"
        args="compressed raw in:=/raspicam_node/image out:=/raspicam_node/image"/>

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>

</launch>
